fastapi
uvicorn
pandas
numpy
sentence-transformers
faiss-cpu
python-dotenv
transformers
torch

langgraph
langchain-ollama
pydantic
fastapi
uvicorn
python-dotenv
pandas
sci-kit learn 
sentence-transformers
chromadb

